:root {
  /* DARKEST */
  --a: #071E3D;
  --b: #278EA5;
  --c: #00ADB5;
  --d: #21E6C1;
  /* TO LIGHTEST */
}
* {
    margin: 0;
  }
/* MAIN */
html {
  cursor: url('dino2.png'),default;
}
/* DIV STYLING */
.titleDiv {
  background-color: var(--a);
  height: 500px;
  margin-top: 0!important;
}
.nextDiv {
  background-color: #278EA5;
  height: auto;
  min-height: 500px;
  margin-top: 0!important;
  padding: 30px;
}
footer {
  background-color: var(--a);
  height: auto;
  min-height: 100px;
  margin-top: 0!important;
  padding: 30px;
}
#ft {
  font-family: 'The-Girl-Next-Door';
  font-size: 3rem;
  text-align: center:
  color: var(--d);
  color: var(--d)
}
.ftxt {
  font-family: 'Aldrich';
  font-size: 2rem;
  margin: 0 15px 10px 15px;
  text-align: center;
  display: inline;
}
.ftxt a {
    text-decoration: none;
    color: var(--c);
}
.ftxt a:active {
  color: var(--d)
}
/* HOME PAGE DIVS */
.HnextDiv {
  background-color: #00ADB5;
  height: auto;
  min-height: 650px;
  margin-top: 0!important;
  padding: 30px;
  float: none;
  padding: 10px;
}
/* MAIN DIV TEXT STYLING */
.Title {
  font-size: 7rem;
  text-align: center;
  margin: 0;
  position: relative;
  top: 30%;
  color: #21E6C1;
  font-family: 'The-Girl-Next-Door';
}
.subTitle {
  font-size: 3rem;
  font-family: 'Aldrich';
  color: #278EA5;
  text-align: center;
  position: relative;
  top: 28%;
}
/* NEXTDIV TEXT STYLING */
.miniTitle {
  font-size: 3rem;
  font-family: 'Aldrich';
  color: #21E6C1;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 50px;
}
.MMTitle {
  font-size: 1.5rem;
  font-family: 'Aldrich';
  color: #21E6C1;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 0px;
}
.miniText {
  font-size: 1.8rem;
  font-family: 'Molengo';
  color: #85e9ed;
  margin: 20px 50px;
  display: block;
  text-align: center;
}
.nameT {
  color: #071E3D;
}
.MT2 {
  max-width: 80%;
}
/* NAV BAR */
.nav {
  overflow: hidden;
  position: relative;
  background-color: #071E3D;
}
.nav a {
  float: left;
  color: #21E6C1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Aldrich';

}
.nav a:hover {
  background-color: #278EA5;
  color: #071E3D;
}
.nav a.active {
  background-color: #21E6C1;
  color: #071E3D;
}

/* SMALLER SCREEN */
@media screen and (max-width: 985px) {
  .navText {
    display: none;
  }
  .Title {
    font-size: 4rem;
  }
  .subTitle {
    font-size: 2rem;
  }
  .titleDiv {
    height: 300px;
  }
}
